##############################
# Mariadb configuration file #
##############################

###
# Server configurations
###

[server]

# The [mysqld] section specifies options for the MariaDB server
# Not to be confused with [mysql], that section specifies
# options for the mysql command-line client.

[mysqld]

###
# Main configurations
###

user				= mysql

# WARNING #
# Both pid-file and socket need to be at "/run/mysqld/" otherwise you will have problems
# You have been warned!

# The PID file specifies the location of the process ID file, which is used
# to store the process ID of the MariaDB server.

pid-file			= /run/mysqld/mysqld.pid

# The socket file specifies the location of the socket file, which is used
# for interprocess communication (IPC) between the MariaDB server and client
# programs.

socket				= /run/mysqld/mysqld.sock

# The port number specifies the port number that the MariaDB server will
# listen on for incoming connections.

port				= 3306

# The data directory specifies the location of the data directory, which is
# used to store database files.

datadir				= /var/lib/mysql

basedir				= /usr
tmpdir				= /tmp

bind-address		= 0.0.0.0

###
# Log configurations
###

log_error			= /var/log/mysql/error.log

# the name the logs use when refering to mariadb

log-basename		= mariadb

# The "general-log" option enables or disables the general query log, which is
# a log file that records all client connections and queries to the MariaDB server.
# 0 = disabled, 1 = enabled

general-log			= 1

# Slow queries are queries that take a long time to execute, and they can be a
# performance issue for a MariaDB server. The slow query log allows you to identify
# slow queries and optimize them to improve the performance of the server.
# 0 = disabled, 1 = enabled

# log-slow-queries	= 1

# The "long_query_time" option specifies the number of seconds that a query must
# take to execute in order to be considered slow and be logged in the slow query log.

# long_query_time			= 2
query_cache_size		= 16M
character-set-server	= utf8mb4
collation-server		= utf8mb4_general_ci



###
# Client configurations
###

# The [client] section specifies options for client programs, including the
# port number and socket file.

[client]

# The port number specifies the port number that client programs will use
# to connect to the MariaDB server.

port				= 3306

# The socket file specifies the location of the socket file that client
# programs will use to connect to the MariaDB server.

socket				= /run/mysqld/mysqld.sock
